# Output directory of different modules
out/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Don't push generated binaries
dist/

# Don't push generated asciinema casts
example_casts/